@font-face {
    font-family: 'LcHandwriting202204-Regular';
    src: url('LcHandwriting202204-Regular.ttf');
}

@font-face {
    font-family: 'RobotoMono';
    src: url('RobotoMono-Regular.ttf');
}

@font-face {
    font-family: 'Snippet-regular';
    src: url('Snippet-Regular.ttf');
}

@font-face {
    font-family: 'Laila-Regular';
    src: url('Laila-Regular.ttf');
}

@font-face {
    font-family: 'VT323-Regular';
    src: url('VT323-Regular.ttf');
}